{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block title %} Home {% endblock title %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<nav class="navbar fixed-top navbar-expand-lg  bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{% static 'media/geeks-png.Png' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                    fill="currentColor" class="bi bi-list text-#311291" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#Geeksdetail">About-Geeks</a>
                <a class="nav-link" href="#Teamdetail">Our Team</a>
                <a class="nav-link" href="#Eventid">Events</a>
                <a class="nav-link" href="#Alumniid">Alumni</a>
                <a class="nav-link" href="#Footerid">Contact Us</a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid geeksclub">
    <div class="row row-1 cover">
        <div class="col-md-12 heading text-center">
            <p>Rustamji Institute Of Technology BSF Academy, Takenpur </p>
            <h1>RJIT GEEKS</h1>
            <h1 id="landing""">Landing Page</h1>

        </div>
    </div>
</div>
<section class="section-1">
    <div class="row row-2">
        <div class="col-md-6 about-img">

            <img src="{% static 'media/section-2-img.png' %}" alt="">

        </div>
        <div class="col-md-6 about-content" id="Geeksdetail">
            <h2 class="text-center">About-Geeks</h2>


            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla quo accusamus deserunt repellat
                architecto perspiciatis quas laborum voluptatum hic cupiditate fuga eaque aperiam voluptatem fugit,
                laboriosam, explicabo vero laudantium.
                Quas.
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla quo accusamus deserunt repellat
                architecto perspiciatis quas laborum voluptatum hic cupiditate fuga eaque aperiam voluptatem fugit,
                laboriosam, explicabo vero laudantium.
                Quas.
            </p>


        </div>
    </div>
</section>
<!------------------ our team section --------->
<section class="section-2">
    <div class="container-fluid team-bg">
        <div class="container teamintro" id="Teamdetail">
            <h1 class="text-center text-white">Our Team</h1>
            <div class="row row-3">
                <div class="col-md-4 img-1">
                    <img src="{% static 'media/gaurav- sir.png' %}" alt="">
                </div>
                <div class="col-md-8 img-1-text text-white">
                    <h2>Jagdish Makhijani</h2>
                    <h2>Faculty Member</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero quaerat perferendis explicabo,
                        incidunt voluptatem accusamus et perspiciatis debitis nobis quis asperiores! Quod sint debitis
                        nisi inventore totam harum, unde mollitia!</p>
                </div>
            </div>
            {% for member in members %}
            {% if member.position_id == 1 %}
            <div class="row row-3 my-3">
                <div class="col-md-4 img-1">
                    <img src="{{member.image.url}}" alt="">
                </div>
                <div class="col-md-8 img-1-text text-white">
                    <h2>{{member.name}}</h2>
                    <h2>{{member.position}}</h2>
                    <p>{{member.about}}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% for member in members %}
            {% if member.position_id == 2 %}
            <div class="row row-3 my-3">
                <div class="col-md-4 img-1">
                    <img src="{{member.image.url}}" alt="">
                </div>
                <div class="col-md-8 img-1-text text-white">
                    <h2>{{member.name}}</h2>
                    <h2>{{member.position}}</h2>
                    <p>{{member.about}}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</section>
<section class="section-3">
    <div class="container-fluid seniorbg">
        <div class="container seniormember">
            <!------------------ senior executive member section --------->
            <h1 class="text-center">Senior Executive Member</h1>
            <div class="row row-6  row-cols-md-2 row-cols-lg-4 row-cols-1">
                {% for member in members %}
                {% if member.position_id == 5 %}
                <div class="col photos">
                    <img src="{% static 'media/gaurav-sir-1.png' %}" alt="">
                    <h2>Varad Khokle</h2>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <!------------------ junior executive member section --------->
            <h1 class="text-center">Junior Executive Member</h1>
            <div class="row row-8 row-cols-lg-3 row-cols-md-2 row-cols-1">

                {% for member in members %}
                {% if member.position_id == 5 %}

                <div class="col  photos img-2">
                    <img src="{{ member.image.url }}" alt="">
                    <h2>{{ member.name }}</h2>
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
</section>
<!------------------ event section --------->
<section class="section-4">
    <div class="container-fluid eventbg text-white">
        <div class="eventcover">
            <div class="container eventcon" id="Eventid">
                <div class="row row-10">
                    <div class="col-md-12 eventdetail">
                        <h2 class="text-center">Events</h2>
                        <h3 class="text-center">About The Events</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis voluptate corporis iure
                            consectetur quis. Delectus, consequuntur. Distinctio accusantium dignissimos blanditiis
                            nihil, reprehenderit sapiente necessitatibus
                            perferendis vel error quod mollitia asperiores?</p>

                    </div>
                    <div class="row-11 row">
                        <div class="col-sm-5 when">
                            <h2 class="text-center">When</h2>
                            <p> From monday to wednesday 10-12 December</p>

                        </div>
                        <div class="col-sm-2 vertical-line">
                            <div class="vertical-line-content"></div>
                        </div>
                        <div class="col-sm-5 when">
                            <h2 class="text-center">Where</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.onsectetur </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!------------------ alumus section --------->
<section class="section-5">
    <div class="container-fluid alumnifluid">
        <div class="container alumni-container" id="Alumniid">
            <h1 class="text-center">Meet Our Alumnus</h1>
            <div class="row row-12">
                {% for member in members %}
                {% if member.position_id == 5 %}
                <div class="col-lg-3 col-sm-6  alumni-pic">
                    <img src="{% static 'media/gaurav-sir-1.png' %}" alt="">
                    <h2>Name</h2>
                    <ul class="icon">
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                    </ul>

                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}